*{
  font-family: "Nunito", sans-serif;
}

.round{
  border-radius: 25px;
  overflow: hidden;
}
.search-bar{
  background-color: #bb0000;
}

.search-title{
  margin-left: 1%;
  margin-right: 2%;
  color: white;
  font-weight: bold;
  font-size: 150%
}

.search-parameter{
  margin-left: : 1%;
  background: #fff;
  opacity:.7;
  border: 1px solid rgba(34,36,38,.15);
}

.vertical-buffered{
  padding-top: 25px;
  padding-bottom: 20px;
}

.ticket{
  font-weight: bold;
  font-size: 120%;
}
