* {
  font-family: "Nunito", sans-serif;
  color: #353839;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #353839;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}


h1 {
  font-weight: bold;
  /* font-size: 1.5em;
  font-weight: 400;
  margin-top: 1em;
  margin-bottom: 0.5em; */
}

h2 {
  /* font-size: 2em;
  font-weight: 800;
  margin-top: 0.5em;
  margin-bottom: 0.2em; */
}

h3 {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}

p {
  font-size: 1.2em;
  line-height: 1.6em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

ul {
  margin-bottom: 0.5em;
  margin-left: 1.5em;
}

li {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.content {
  background-color: white;
  width: 100%;
  padding-top: 4em;
}

label {
  font-size: 1em;
  font-weight: 300;
}

input {
  font-size: 1em;
  font-weight: 300;
  padding: 0.2em;
}

button {
  padding: 1em;
  background-color: #465a63;
  color: white;
  font-size: 1.2em;
  border: 0px;
  margin-bottom: 2em;
  border-radius: 12px;
}

.app-icon {
  height: auto;
  border-radius: 14%;
}

.market-badge {
  max-height: 80px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tint {
  background-color: #f8f8f8;
}

.secondary {
  background-color: #bb0000;
  color: #ffffff;
}

.top-buffer {
  padding-top: 30px;
}

.bottom-buffer {
  padding-bottom: 15px;
}

/* Header CSS */

.header-link {
  font-size: 1.5em;
}

.header-link:hover {
  color: #000000;
}

/* Footer CSS */

footer {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.footer-link {
  font-size: 1.5em;
}

.footer-link:hover {
  color: #000000;
  text-decoration: none;
}

/* Homepage CSS */

.profile-pic {
  border-radius: 50%;
}

/* TicketBay CSS */
.stars {
  color: orange;
  font-size: 30px;
}

/*
.row {
  border: 1px solid red;
}


div[class*="col"] {
  border: 1px solid blue;
}
*/
