* {
  font-family: "Nunito", sans-serif;
  color: #353839;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #353839;
}

a:hover {
  color: #000000;
}

a:active {
  color: #000000;
}

h1 {
  font-weight: bold;
  /* font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.5rem; */
}

h2 {
  /* font-size: 2rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem; */
}

h3 {
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

ul {
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

li {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.content {
  background-color: white;
  width: 100%;
  padding-top: 4rem;
}

label {
  font-size: 1rem;
  font-weight: 300;
}

input {
  font-size: 1rem;
  font-weight: 300;
  padding: 0.2rem;
}

button {
  padding: 1rem;
  background-color: #465a63;
  color: white;
  font-size: 1.2rem;
  border: 0rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
}

.app-icon {
  height: auto;
  border-radius: 14%;
}

.market-badge {
  max-height: 5rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.tint {
  background-color: #f8f8f8;
}

.secondary {
  background-color: #bb0000;
  color: #ffffff;
}

.top-buffer {
  padding-top: 1.875rem;
}

.bottom-buffer {
  padding-bottom: 0.9375rem;
}

/* Header CSS */

.header-link {
  font-size: 1.5rem;
}

.header-link:hover {
  color: #000000;
}

/* Footer CSS */

footer {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.footer-link {
  font-size: 1.5rem;
}

.footer-link:hover {
  color: #000000;
  text-decoration: none;
}

/* Homepage CSS */

.profile-pic {
  border-radius: 50%;
}

/* TicketBay CSS */
.stars {
  color: orange;
  font-size: 1.875rem;
}
